:root {
	--sidebar-bg-color: #F7F7F7;
	--sidebar-border: 1px solid #EEEEEE;
	--main-bg-color: white;
}
html, body {
	height: 100%;
	min-height: 100%
}
cm-root {
	display: flex;
	min-height: 100%;
	width: 100%
}
cm-menu {
	background-color: var(--sidebar-bg-color);
	border-right: var(--sidebar-border);
	width: 20%;
	padding: 1em;
}
cm-root>*:last-child {
	padding: 20px
}
router-outlet {
	display: none
}
p-growl {
	
}