<h4>Administration</h4>
<a routerLink="/cyclists" routerLinkActive="active" class="nav-link">Cyclists</a>
<a routerLink="/teams" routerLinkActive="active" class="nav-link">Teams</a>
<a routerLink="/programs" routerLinkActive="active" class="nav-link">Programs</a>
<a routerLink="/add-cyclist" routerLinkActive="active" class="nav-link">Add cyclist</a>
<a routerLink="/add-team" routerLinkActive="active" class="nav-link">Add team</a>
<a routerLink="/add-program" routerLinkActive="active" class="nav-link">Add program</a>
<cm-alerts></cm-alerts>