<h1 *ngIf="cyclist.id">Edit cyclist</h1>
<h1 *ngIf="!cyclist.id">New cyclist form</h1>
<form>
	<div class="form-group">
		<label for="firstName">First name</label>
		<input id="firstName" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="lastName">Last name</label>
		<input id="lastName" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="bornDate">Date of birth</label>
		<input type="date" id="bornDate" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="weight">Weight</label>
		<input type="number" id="weight" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="type">Type</label>
		<p-selectButton [options]="types" [(ngModel)]="cyclist.type" name="type" class="form-control"></p-selectButton>
	</div>
	<div class="form-group">
		<label></label>
		<button pButton type="button" class="ui-button-success" label="Zapisz" (click)="save()"></button>
	</div>
</form>