<p-dataTable [value]="cyclists" [(selection)]="selectedCyclists" selectionMode="multiple" dataKey="id">
	<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
	<p-column field="firstName" header="First name" [editable]="true"></p-column>
	<p-column field="lastName" header="Last name" [editable]="true"></p-column>
	<p-column field="age" header="Age" [editable]="false"></p-column>
	<p-column field="typeName" header="Type" [editable]="true"></p-column>
	<p-column styleClass="col-button overflow-visible" [style]="{'overflow':'visible'}">
        <ng-template let-cyclist="rowData" pTemplate="body">
			<button pButton type="button" (click)="edit(cyclist)" icon="fa-edit" label="Edit"></button>
			<button pButton type="button" (click)="remove(cyclist)" icon="fa-trash" label="Delete"></button>
        </ng-template>
    </p-column>
</p-dataTable>

<p-confirmDialog width="425"></p-confirmDialog>
<p-growl [value]="messages"></p-growl>